
.navbar{
    width: 100%;
    background-color: aliceblue;
}
.navbar-container{
    box-shadow: 0 4px 6px -2px gray;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.title-container{
    
}
.title-container h3{
    font-size: 2.6rem;
    letter-spacing: 1.6px;
    color: cornflowerblue;
    font-family:cursive ;

}
.navigation-menu ul{
    display: flex;
}
.navigation-menu ul li{
    list-style: none;
    margin: 0 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.link{
    text-decoration: none;
}
.active{
    color: crimson;
}