section{
    position: relative;
    background-color: aliceblue;
    width: 100%;
    top: 60px;
    
}
.home-container{
    /* margin-top: 5px; */
    padding: 0 2em;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80vw;
    margin: 5px 0;
    width: 100%;
}
.home-text{
    flex: 8;
    text-align: left;
    font-family: open sans-serif
}
.home-pic{
    flex: 4;
}
.home-text>h3{
    font-size: 1.6rem;
    margin: 0;
    color: #7A5AC0;
}
.home-text>h1{
    font-size: 3.3rem;
    margin: 0;
    /* color: #6A5ACD; */
    color: crimson;
}
.text-amimate{
    font-size: 2rem;
    font-weight: 500;
}
.text-amimate>span{
    font-size: 3rem;
}
.text-role{
    font-size: 4vw;
    margin: 0;
    font-weight: bold;
    background-image: url(https://images.unsplash.com/photo-1582093235513-22aaca71d776?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.home-pic{
    height: 300px;
}
.homeProfilePic{
    height: 300px;
    width: 300px;
    object-fit:scale-down;
    border-radius: 0 0 50px  50px ;
}




@media (max-width:768px) {
    .home-container{
       
        padding-top: 50px;
        gap: 1rem;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .home-text>h1{
        font-size: 3.5rem;
        margin: 8px 0;
    }
    .text-amimate>span{
        font-size: 3.0rem;
        
    }
}

@media (max-width:450px){
    .home-container{
        height: 100vh;
        margin-bottom: 20px;
    }
    .home-text{
        display: flex;
        flex-direction: column;
        padding-left:0 10px;
    }
    

    .home-text>h1{
        font-size: 4rem;
    }
    .text-amimate>span{
        font-size: 4rem;
    }
   
    
}